<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog Admin</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <link href="/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link
      href="/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/summernote/summernote.min.css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include('adminHeaderLayout', {header}) %>
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-0 font-size-18">Blog</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Pages</a>
                      </li>
                      <li class="breadcrumb-item active">Blog</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->
            <!-- container-fluid -->
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <% if (action !== "undefined" && action === "success") { %>
                  <div
                    class="alert alert-success alert-dismissible fade show mb-0"
                    role="alert"
                  >
                    <%= header.lang === "fr" ? `Créé avec succès` :
                    'Successfully created' %>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %>
                  <% if (action !== "undefined" && action === "error") { %>
                    <div
                      class="alert alert-danger alert-dismissible fade show mb-0"
                      role="alert"
                    >
                      <%= header.lang === "fr" ? `Erreur inattendue, réessayez plus tard!` :
                      `Unexpected error, try again later!` %>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <% } %>
                  <div class="card-body">
                    <form
                      action="/admin/blog/update/<%= blog._id %>"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label for="simpleinput">Page Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update page title"
                          name="pageTitle"
                          value="<%= blog.pageTitle %>"
                        />
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">First Image</h4>
                        <input type="file" class="dropify" data-default-file="<%= blog.titleImg %>"  name="titleImg" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title"
                          name="titleH1Text1"
                          value="<%= blog.titleH1Text1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput"
                          >Date Icon (Font Awesome)</label
                        >
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title Paragraph"
                          name="dateIcon"
                          value="<%= blog.dateIcon %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Blog Created Date</label>
                        <input
                          type="date"
                          id="simpleinput"
                          class="form-control"
                          name="createdDate"
                          value="<%= blog.createdDate.getFullYear() %>-<%=String(blog.createdDate.getMonth() + 1).padStart(2,'0')%>-<%= blog.createdDate.getDate() %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput"
                          >User Icon (Font Awesome)</label
                        >
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title Paragraph"
                          name="userIcon"
                          value="<%= blog.userIcon %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Blog Post User</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title Paragraph"
                          name="user"
                          value="<%= blog.user %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Content</label>
                        <textarea id="summernote" name="editordata">
<%= blog.content %></textarea
                        >
                      </div>
                      <button
                        type="submit"
                        class="btn btn-outline-info btn-lg btn-block waves-effect waves-light"
                      >
                        Update
                      </button>
                    </form>
                  </div>
                  <!-- end card-body-->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row-->
          </div>
        </div>
        <!-- End Page-content -->

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">HSCG</div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>

    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>
    <script src="/plugins/dropify/dropify.min.js"></script>
    <script src="/pages/fileuploads-demo.js"></script>
    <!-- App js -->
    <script src="/assets/js/theme.js"></script>
    <script src="/summernote/summernote.min.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
