<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin <%= compliance.pageTitle %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include('adminHeaderLayout', {header}) %>
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-0 font-size-18"><%= sidebar.barText1 %></h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Pages</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <%= sidebar.barText1 %>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->
            <!-- container-fluid -->
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <% if (action !== "undefined" && action === "success") { %>
                  <div
                    class="alert alert-success alert-dismissible fade show mb-0"
                    role="alert"
                  >
                    <%= header.lang === "fr" ? `Mise à jour réussie` :
                    'Successfully updated' %>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %>
                  <% if (action !== "undefined" && action === "error") { %>
                    <div
                      class="alert alert-danger alert-dismissible fade show mb-0"
                      role="alert"
                    >
                      <%= header.lang === "fr" ? `Erreur inattendue, réessayez plus tard!` :
                      `Unexpected error, try again later!` %>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <% } %>
                  <div class="card-body">
                    <form
                      action="/admin/compliance"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label for="simpleinput">Page Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update page title"
                          name="pageTitle"
                          value="<%= compliance.pageTitle %>"
                        />
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">First Image</h4>
                        <input type="file" class="dropify" data-default-file="<%= compliance.titleImg %>"  name="titleImg" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title"
                          name="titleH1Text1"
                          value="<%= compliance.titleH1Text1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Paragraph 1</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Paragraph 1"
                          name="pText1"
                          value="<%= compliance.pText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">Second Image</h4>
                        <input type="file" class="dropify" data-default-file="<%= compliance.img1 %>"  name="img1" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 1</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 1"
                          name="liText1"
                          value="<%= compliance.liText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 2</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 2"
                          name="liText2"
                          value="<%= compliance.liText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 3</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 3"
                          name="liText3"
                          value="<%= compliance.liText3 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 4</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 4"
                          name="liText4"
                          value="<%= compliance.liText4 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Paragraph 2</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Paragraph 2"
                          name="pText2"
                          value="<%= compliance.pText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Quote</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Quote"
                          name="quoteText1"
                          value="<%= compliance.quoteText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Title 2</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title 2"
                          name="titleH1Text2"
                          value="<%= compliance.titleH1Text2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Paragraph 3</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Paragraph 3"
                          name="pText3"
                          value="<%= compliance.pText3 %>"
                        />
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">Image 3.</h4>
                        <input type="file" class="dropify" data-default-file="<%= compliance.img2 %>"  name="img2" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">1.Icon</h4>
                        <input type="file" class="dropify" data-default-file="<%= compliance.Icon1 %>"  name="Icon1" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">1. Icon title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 1. Icon title"
                          name="IconTitleText1"
                          value="<%= compliance.IconTitleText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">1. Icon Description</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 1. Icon Description"
                          name="IconPText1"
                          value="<%= compliance.IconPText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <h4 class="card-title">2.Icon</h4>
                        <input type="file" class="dropify" data-default-file="<%= compliance.Icon2 %>"  name="Icon2" accept="image/*"/>
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">2. Icon title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 2. Icon title"
                          name="IconTitleText2"
                          value="<%= compliance.IconTitleText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">2. Icon Description</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 2. Icon Description"
                          name="IconPText2"
                          value="<%= compliance.IconPText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">title 3</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update title 3"
                          name="titleH1Text3"
                          value="<%= compliance.titleH1Text3 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Paragraph 4</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Paragraph 4"
                          name="pText4"
                          value="<%= compliance.pText4 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Title 1</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Title 1"
                          name="panelTitleText1"
                          value="<%= compliance.panelTitleText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Description 1</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Description 1"
                          name="panelPText1"
                          value="<%= compliance.panelPText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Title 2</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Title 2"
                          name="panelTitleText2"
                          value="<%= compliance.panelTitleText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Description 2</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Description 2"
                          name="panelPText2"
                          value="<%= compliance.panelPText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Title 3</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Title 3"
                          name="panelTitleText3"
                          value="<%= compliance.panelTitleText3 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Panel Description 3</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Panel Description 3"
                          name="panelPText3"
                          value="<%= compliance.panelPText3 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Title 4</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Title 4"
                          name="titleH1Text4"
                          value="<%= compliance.titleH1Text4 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Paragraph 5</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Paragraph 5"
                          name="pText5"
                          value="<%= compliance.pText5 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 5</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 5"
                          name="liText5"
                          value="<%= compliance.liText5 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 6</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 6"
                          name="liText6"
                          value="<%= compliance.liText6 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 7</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 7"
                          name="liText7"
                          value="<%= compliance.liText7 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">Sort 8</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sort 8"
                          name="liText8"
                          value="<%= compliance.liText8 %>"
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn btn-outline-info btn-lg btn-block waves-effect waves-light"
                      >
                        Update
                      </button>
                    </form>
                  </div>
                  <!-- end card-body-->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row-->
          </div>
        </div>
        <!-- End Page-content -->

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">HSCG</div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>

    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>
    <script src="/plugins/dropify/dropify.min.js"></script>
    <script src="/pages/fileuploads-demo.js"></script>

    <!-- App js -->
    <script src="/assets/js/theme.js"></script>
    <script src="/js/cookie.js"></script>
  </body>
</html>
