<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include('adminHeaderLayout', {header}) %>
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-0 font-size-18">Service-detail Sidebar</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Pages</a>
                      </li>
                      <li class="breadcrumb-item active">
                        Service-detail Sidebar
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->
            <!-- container-fluid -->
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <% if (action !== "undefined" && action === "success") { %>
                  <div
                    class="alert alert-success alert-dismissible fade show mb-0"
                    role="alert"
                  >
                    <%= header.lang === "fr" ? `Mise à jour réussie` :
                    'Successfully updated' %>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %>
                  <% if (action !== "undefined" && action === "error") { %>
                    <div
                      class="alert alert-danger alert-dismissible fade show mb-0"
                      role="alert"
                    >
                      <%= header.lang === "fr" ? `Erreur inattendue, réessayez plus tard!` :
                      `Unexpected error, try again later!` %>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <% } %>
                  <div class="card-body">
                    <form
                      action="/admin/sidebar"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label for="simpleinput">Sidebar Title Text</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update Sidebar Title Text"
                          name="barTitleText"
                          value="<%= sidebar.barTitleText %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">1. Sidebar Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 1. Sidebar Title"
                          name="barText1"
                          value="<%= sidebar.barText1 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">2. Sidebar Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 2. Sidebar Title"
                          name="barText2"
                          value="<%= sidebar.barText2 %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="simpleinput">3. Sidebar Title</label>
                        <input
                          type="text"
                          id="simpleinput"
                          class="form-control"
                          placeholder="Update 3. Sidebar Title"
                          name="barText3"
                          value="<%= sidebar.barText3 %>"
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn btn-outline-info btn-lg btn-block waves-effect waves-light"
                      >
                        Update
                      </button>
                    </form>
                  </div>
                  <!-- end card-body-->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row-->
          </div>
        </div>
        <!-- End Page-content -->

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">HSCG</div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>

    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/theme.js"></script>
    <script src="/js/cookie.js"></script>
  </body>
</html>
