<!DOCTYPE html>
<html>
  <head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8" />
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True" />
    <!-- set the page title -->
    <title><%= blog.pageTitle %></title>
    <!-- include google roboto font cdn link -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/plugins.css" />
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- include the site responsive stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <!-- main container of all the page elements -->
    <div id="wrapper">
      <!-- header of the page -->
      <%- include('./header.ejs',{header,path}) %>
      <!-- contain main informative part of the site -->
      <main id="main">
        <!-- heading banner -->
        <div id="two-columns" class="container">
          <div class="row">
            <!-- content -->
            <section id="content" class="col-xs-12 col-md-9">
              <!-- blogPost -->
              <article class="blogPost single">
                <% if (blog.titleImg) { %>
                <div class="aligncenter">
                  <img src="<%= blog.titleImg %>" />
                </div>
                <% } %> <% if (blog.titleH1Text1) { %>
                <h1><%= blog.titleH1Text1 %></h1>
                <% } %>
                <!-- postActionsInfo -->
                <% if (blog.createdDate || blog.user) { %>
                <ul class="list-unstyled postActionsInfo text-uppercase">
                  <% if (blog.createdDate) { %>
                  <li>
                    <a href="javascript:void(0);"
                      ><i
                        class="far <%= blog.dateIcon ? blog.dateIcon : '' %>"
                      ></i>
                      <time
                        ><%=blog.createdDate.getDate()%>/<%=blog.createdDate.getMonth()+1%>/<%=blog.createdDate.getFullYear()%></time
                      ></a
                    >
                  </li>
                  <% } %> <% if (blog.user) { %>
                  <li>
                    <a href="javascript:void(0);"
                      ><i
                        class="far <%= blog.userIcon ? blog.userIcon : ''%>"
                      ></i>
                      <%= blog.user%></a
                    >
                  </li>
                  <% } %>
                </ul>
                <% } %> <% if (blog.content) { %> <%- blog.content %> <% } %>
              </article>
            </section>
          </div>
        </div>
      </main>
      <!-- footer area container -->
      <%- include('./footer.ejs',{footer}) %>
      <!-- back top of the page -->
      <span id="back-top" class="text-center fa fa-caret-up"></span>
      <!-- loader of the page -->
      <div id="loader" class="loader-holder">
        <div class="block">
          <img src="../images/svg/hearts.svg" width="100" alt="loader" />
        </div>
      </div>
    </div>
    <!-- include jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- include jQuery -->
    <script src="/js/plugins.js"></script>
    <!-- include jQuery -->
    <script src="/js/jquery.main.js"></script>
    <!-- include jQuery -->
    <script type="text/javascript" src="/js/init.js"></script>
  </body>
</html>
